:root {
    --width: 210mm;
    --height: 297mm;
    --orientation: portrait;
    --color-mbox: rgba(0, 0, 0, 0.2);
    --margin: 4px;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-pageBox: violet;
    --color-marginBox: green;
}

html {
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
}

@media screen {
    body {
        background-color: whitesmoke
    }

    .pagedjs_page {
        background-color: #fdfdfd;
        margin: calc(var(--margin) * 4) var(--margin);
        box-shadow: 0 0 0 1px var(--color-mbox)
    }

    .pagedjs_pages {
        width: calc((var(--width) * 2) + (var(--margin) * 4));
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        transform-origin: 0 0;
        margin: 0 auto
    }

    .pagedjs_pagebox {
        box-shadow: 0 0 0 1px var(--color-pageBox);
    }

    /* show the margin-box */
    .pagedjs_margin-top-left-corner-holder,
    .pagedjs_margin-top,
    .pagedjs_margin-top-left,
    .pagedjs_margin-top-center,
    .pagedjs_margin-top-right,
    .pagedjs_margin-top-right-corner-holder,
    .pagedjs_margin-bottom-left-corner-holder,
    .pagedjs_margin-bottom,
    .pagedjs_margin-bottom-left,
    .pagedjs_margin-bottom-center,
    .pagedjs_margin-bottom-right,
    .pagedjs_margin-bottom-right-corner-holder,
    .pagedjs_margin-right,
    .pagedjs_margin-right-top,
    .pagedjs_margin-right-middle,
    .pagedjs_margin-right-bottom,
    .pagedjs_margin-left,
    .pagedjs_margin-left-top,
    .pagedjs_margin-left-middle,
    .pagedjs_margin-left-bottom {
        box-shadow: 0 0 0 1px inset var(--color-marginBox);
    }
}

@media screen {
    .debug .pagedjs_margin-top .pagedjs_margin-top-left-corner, .debug .pagedjs_margin-top .pagedjs_margin-top-right-corner {
        box-shadow: 0 0 0 1px inset var(--color-mbox)
    }

    .debug .pagedjs_margin-top > div {
        box-shadow: 0 0 0 1px inset var(--color-mbox)
    }

    .debug .pagedjs_margin-right > div {
        box-shadow: 0 0 0 1px inset var(--color-mbox)
    }

    .debug .pagedjs_margin-bottom .pagedjs_margin-bottom-left-corner, .debug .pagedjs_margin-bottom .pagedjs_margin-bottom-right-corner {
        box-shadow: 0 0 0 1px inset var(--color-mbox)
    }

    .debug .pagedjs_margin-bottom > div {
        box-shadow: 0 0 0 1px inset var(--color-mbox)
    }

    .debug .pagedjs_margin-left > div {
        box-shadow: 0 0 0 1px inset var(--color-mbox)
    }
}

section:nth-child(1) h1 {
    string-set: booktitle content(text)
}

body {
    font-size: 1em;
    line-height: 1.33em;
}
a {
    color: black !important
}

@media all and (orientation: portrait) {
    p {
        font-family: serif
    }
}

@media all and (orientation: landscape) {
    p {
        font-family: sans-serif
    }
}
