@import 'tailwindcss';

:root {
    --width: 210mm;
    --height: 297mm;
    --margin-top: 6mm;
    --margin-right: 6mm;
    --margin-bottom: 6mm;
    --margin-left: 6mm;
    --pagedjs-margin-top: 6mm !important;
    --pagedjs-margin-right: 6mm !important;
    --pagedjs-margin-bottom: 6mm !important;
    --pagedjs-margin-left: 6mm !important;
}

@page {
    size: A4;
    margin: 6mm;
    bleed: 6mm;
}

@media print {
    @page {
        margin: 0;
        bleed: 0;
    }
}

.pagedjs_page {
    box-sizing: border-box;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    position: relative;
}

.payslip-page {
    break-after: page !important;
    height: 100%;
}

@media print {
    html {
        width: 100%;
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100% !important;
        height: 100% !important;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    .pagedjs_pages {
        width: var(--width);
        display: block !important;
        transform: none !important;
        height: 100% !important;
        min-height: 100%;
        max-height: 100%;
        overflow: visible;
    }

    .pagedjs_page {
        margin: 0;
        padding: 0;
        max-height: 100%;
        min-height: 100%;
        height: 100% !important;
        page-break-after: always;
        break-after: page;
    }

    .payslip-page {
        padding: 0;
        height: 100%;
    }
}
